<?xml version="1.0" encoding="UTF-8" ?>
<!-- dao/TbNewsMapper.xml -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.huhuiyu.dao.TbUserDAO">
  <insert id="add" parameterType="TbUser" useGeneratedKeys="true" keyProperty="nid">
    insert into TbUser(username,password,nickname) values(#{username},#{password},#{nickname})
  </insert>

  <select id="login" resultType="TbUser" parameterType="TbUser">
    select * from TbUser where username=#{username} and password=#{password}
  </select>
</mapper>
