<?xml version="1.0" encoding="UTF-8" ?>
<!-- dao/TbNewsMapper.xml -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.huhuiyu.springboot.projects.dao.TbMyImagesDAO">
	<insert id="add" parameterType="TbMyImages" useGeneratedKeys="true"
		keyProperty="imageId">
		insert into
		TbMyImages(savePath,description,filename,mime,filesize)
		values(#{savePath},#{description},#{filename},#{mime},#{filesize})
	</insert>

	<delete id="delete" parameterType="TbMyImages">
		delete from TbMyImages where
		imageId=#{imageId}
	</delete>

	<select id="queryLast" resultType="TbMyImages">
		select * from TbMyImages order
		by imageId desc limit 5
	</select>

</mapper>
