<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="logImpl" value="STDOUT_LOGGING" />
  </settings>
  <typeAliases>
    <package name="top.huhuiyu.entity" />
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"></transactionManager>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://192.168.133.129:3306/WebBase?useSSL=false&amp;characterEncoding=UTF-8&amp;serverTimezone=GMT%2B8" />
        <property name="username" value="huhuiyu" />
        <property name="password" value="MySQL-123" />
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="top/huhuiyu/dao/TbNewsMapper.xml" />
    <mapper resource="top/huhuiyu/dao/TbUserMapper.xml" />
  </mappers>
</configuration>